@import 'variables';

* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    height: calc(100vh - 20px);
    overflow: hidden;
}

.navigation {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 20px 20px;
    border-bottom: 2px solid $borderColor;
}

.nav-logo {
    font-family: $fontLogo;
    font-size: 25pt;
    color: #1B9CFC;
    display: inline-block;
    line-height: 30px;
    font-weight: 800;
}

.notes-body{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    column-gap: 35px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow: auto;
    height: calc(100vh - 80px);
    background-color: #1B9CFC;
    border-radius: 5px;
}

.notes-column{
    position: relative;
    width: 25vw;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;    
    outline: 2px solid $borderColor;
    border-radius: 3px;
    padding: 0 10px;
    box-shadow: 10px 10px 0px #fc427b;
    max-height: 100%;
    overflow-x: hidden;

    div[contenteditable]{
        &:focus-visible{
            outline: none;
        }
    }

    .notes-add-entry{
        font-size: 13pt;
        font-family: $fontText;
        background-color: white;
        font-weight: 700;
        width: calc(100% + 22px);
        position: relative;
        left: -11px;
        padding: 5px;
        text-align: center;
        color: $fontColorGrey;
        cursor: pointer;
    }

    > :nth-child(2){
        border: none;
    }

    &.add-column{
        background-color: white;
    }
}

.notes-column-head{
    color: $fontColor;
    font-size: 18pt;
    font-weight: 700;
    font-family: $fontText;    
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
    padding: 5px 15px;
    width: calc(100% + 22px);
    position: relative;
    left: -11px;
    color: rgb(116, 116, 116);
    background-color: white;
    margin-bottom: 5px;
}

.notes-entry{
    color: $fontColor;
    margin: 5px;
    padding: 10px 0px 5px;
    font-size: 13pt;
    font-family: $fontText;
    border-top: 1px solid $borderColor;

    .notes-entry-head{
       font-weight: 700;
    }

    .notes-entry-text{
        padding: 5px 0;
    }

}

.notes-add-column{    
    font-family: $fontText;
    color: $fontColorGrey;
    font-weight: 700;
    font-size: 13pt;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}