$fontLogo: 'Berkshire Swash', cursive;
$fontText: 'Raleway', sans-serif;

// $fontColor: rgb(76, 78, 77);
$fontColor: white;
$fontColorGrey: rgb(116, 116, 116);
$borderColor: rgba(255, 255, 255, 1);
$colorDefault: #1B9CFC;

$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;